name: sonar-check

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sonar-scanner-run:
    if: github.repository == 'MadRave/route-point'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run SonarQube analysis
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}       
